@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Primary: Using a slightly more sophisticated Indigo/Slate blue */
  --color-primary: 79 70 229; /* Indigo 600 */
  --color-primary-dark: 67 56 202;
  --color-primary-light: 99 102 241;

  /* Backgrounds: The 'Base' is the page, 'Surface' is the table */
  --color-base: 248 250 252; /* Slate 50 - Very light page background */
  --color-surface: 255 255 255; /* White - The table card */
  --color-surface-soft: 241 245 249; /* Slate 100 - For Table Headers */

  /* Text & Borders: The core of the Slate look */
  --color-text: 15 23 42; /* Slate 900 - Dark and sharp */
  --color-text-light: 71 85 105; /* Slate 600 - Perfect for data */
  --color-text-muted: 148 163 184; /* Slate 400 - For borders and labels */

  /* Functional */
  --color-danger: 239 68 68; /* Red 600 */
}

@layer base {
  body {
    font-family:
      'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      sans-serif;
    @apply bg-base text-text;
  }
}

/* DatePicker */
.date-input .react-datepicker__day--selected,
.date-input .react-datepicker__day--keyboard-selected {
  background-color: rgb(var(--color-primary)) !important;
  color: white !important; /* Ensure text remains readable */
  border-radius: 0.3rem; /* Optional: match your UI rounding */
}
.date-input .react-datepicker__input-container {
  margin-bottom: 5px !important;
}
.date-input .react-datepicker__input-container input {
  padding-left: 30px !important;
  color: black;
}
.date-input .react-datepicker__day--selected:hover {
  background-color: rgb(var(--color-primary) / 0.8) !important;
}
.date-input .react-datepicker__calendar-icon {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}
.date-input .react-datepicker__close-icon::after {
  background-color: rgb(var(--color-primary-dark)) !important;
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.date-input .react-datepicker__input-container :focus {
  outline: 1px solid rgb(var(--color-primary) / 0.5) !important;
}

/* InputBox */
/* Chrome, Safari, Edge */
.input-box input[type='number']::-webkit-outer-spin-button,
.input-box input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.input-box input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
